@import '../../../../global.scss';

.container {
  height: 60px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  background-color: $background-highlight;
  border-radius: 5px;
}
.left {
  display: flex;
}
