@import '../../../global';
.wrapper {
  height: 90%;
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  border-radius: 5px;
  background-color: #fff;
}
.header {
  font-size: 1.2rem;
  font-weight: bold;
  color: $green-secondary;
  margin-bottom: 2rem;
}
.main {
  height: 100%;
  overflow-y: scroll;
}
.item {
  display: flex;

  justify-content: space-between;
}
