@import '../../../global';
.header {
  color: $green-primary;
  font-size: 1.2rem;
  font-weight: bold;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
