@import '../../global.scss';
.container {
  width: 80%;
  margin: 0px auto;

  background-color: $background-highlight;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $text-primary;
}
.header {
  margin-top: 10vh;
  height: 4rem;
  display: flex;
  align-items: center;
  & > div {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  border-bottom: solid 2px $green-primary;
  .title {
    color: $green-primary;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .modify {
    font-size: 1rem;
    color: $text-primary;
    cursor: pointer;
    &:hover {
      color: $green-secondary;
    }
  }
}
.main {
  width: 90%;
  margin: 0px auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 10vh;
  text-align: left;
  & > div {
    font-size: 1.2rem;
  }
  & span {
    color: $green-primary;
  }
}

.modalContainer {
  height: 120px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  // align-items: center;
  justify-content: space-around;
  input:not(input:nth-of-type(1)) {
    width: 60px;
    padding: 6px;
    border: 2px solid #2fbba0;
    background-color: #fff;
    border-radius: 10px;
  }
}
