@import '../../global';

.wrapper {
  padding: 5px 8px;
  // color: black;
}
.searchContainer {
  width: 100%;
  position: relative;
  span {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
  }
  input {
    width: 450px;
    padding: 16px 3rem;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    color: $text-primary;
    &:focus {
      color: #000;
      background-color: $input-focus;
      outline: $green-secondary;
      border: solid 2px $green-secondary;
    }
  }
}
form {
  position: relative;
}
.searchBriefResult {
  color: $text-primary;
  font-size: 1rem;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 5vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 500;
  z-index: 30;
}
.category {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: left;
  &.recipe {
    color: $green-primary;
  }
  &.ingredient {
    color: $orange;
  }
}
.searchResult {
  min-height: 200px;
}
