@import '../../../global';
.wrapper {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: $text-primary;
  font-size: 1.2rem;
}
.main {
  width: 70%;
}
