@import '../../../global';
.wrapper {
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: $text-primary;
  font-size: 1.2rem;
}
.main {
  width: 70%;
}
.empty {
  width: 80%;
  margin: 0px auto;
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  > div:nth-of-type(1) {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: $green-secondary;
    line-height: 3rem;
  }
}
