@import '../../global.scss';
.container {
  display: flex;
  text-align: center;
}
.img_card {
  height: 450px;
  width: 60vw;
  // display: block;
  margin-left: 1rem;
}
.description {
  width: 30vw;
}