@import '../../global.scss';
.nextarrow {
  right: -25px;
  font-size: 20px;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: none;
  background: transparent;
  transition: 200ms ease-in-out;

  &:before {
      line-height: 1;
      opacity: 0.75;
      -webkit-font-smoothing: antialiased;
      color: black !important;
  }
}
// .custom-dots {
//   position: absolute;
//   bottom: -15px;
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   text-align: center;
// }

// .custom-dots li {
//   position: relative;
//   display: inline-block;
//   width: 40px;
//   height: 20px;
//   margin: 0;
//   padding: 0;
//   cursor: pointer;
// }

// .custom-dots li button {
//   font-size: 0;
//   line-height: 0;
//   display: block;
//   width: 40px;
//   height: 20px;
//   padding: 5px;
//   cursor: pointer;
//   color: transparent;
//   border: 0;
//   outline: none;
//   background: transparent;
// }

// .custom-dots li button:before {
//   font-family: "slick";
//   font-size: 2rem;
//   line-height: 20px;
//   position: absolute;
//   top: 10px;
//   left: 20px;
//   width: 20px;
//   height: 20px;
//   content: "*";
//   text-align: center;
//   opacity: 0.9;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .custom-dots li.slick-active button:before {
//   opacity: 1;
//   color: #ffffff;
//   content: "*";
// }