@import '../../../global';
.wrapper {
  margin-top: 0.5rem;
}
.container {
  max-height: 105vh;
  overflow-y: scroll;
  padding: 0rem 1rem;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: $green-primary;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  height: 100%;

  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  > div {
    margin: 0px auto;
  }
}
.arrowContainer {
  display: flex;
  gap: 0.5rem;
  color:$text-highlight;
}
.arrow{
  color:$green-secondary;
}
.arrow:hover{
  cursor: pointer;
  color:$green-primary;
}
