@import '../global.scss';
.wrapper {
  width: 95%;
  margin: 0px auto;
}
.title {
  color: $green-primary;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
}
.container {
  background-color: $background-primary;
  width: 100%;
  height: 87vh;
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border-radius: 15px;
}
.mealPlanner {
  grid-area: 1/2/2/3;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
}
.graphDay {
  grid-area: 1/3/2/4;
  background-color: chartreuse;
}
.graphWeek {
  grid-area: 1/1/2/2;
  background-color: aquamarine;
}
.graphMonth {
  grid-area: 2/1/3/2;
  background-color: blueviolet;
}
.detail {
  grid-area: 2/2/3/4;
}
