@import '../global.scss';
.wrapper {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 42vh);
  grid-gap: 30px;
}
.refrigerator {
  background-color: pink;
  grid-row: 1 / 3;
}
.ingredientlist {

}
.foodlist {
  
}