@import '../global.scss';
.wrapper {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: repeat(2, 37vh);
  grid-row-gap: 50px;
  grid-column-gap: 180px;
}
.header {
  margin-left: 5rem;
  color: $green-primary;
}
.refrigerator {
  // background-color: pink;
  box-shadow: 2px 2px 2px 2px gray;
  margin-left: 3rem;
  grid-row: 1 / 3;
}
.ingredientlist {
  // background-color: palegreen;
  box-shadow: 3px 3px 3px 3px gray;
}
.foodlist {
  // background-color: blueviolet;
  box-shadow: 3px 3px 3px 3px gray;
  background-color: #ffffff;
}