@import '../../../global.scss';

.wrapper {
  background-color: $background-highlight;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
  border-radius: 15px;
}
.header {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: $green-primary;
  font-weight: bold;
  .totalRating {
    font-size: 2rem;
    color: $orange;
  }
}
.main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.myRating {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $green-primary;
  font-weight: bold;
}

.totalRating {
  display: flex;
  align-items: center;

  justify-content: space-between;
  font-size: 1.2rem;
  span {
    color: $orange;
  }
  > div:first-child {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
.recipeImg {
  width: 300px;
  height: 300px;
}
.toggle {
  text-align: right;
  margin-bottom: 1rem;
}
.ingredientContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
