@import '../../global';

.container {
  margin: 0.5rem 0px;
  padding: 8px;
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .add {
      cursor: pointer;
      color: $orange;
      &:hover {
        font-weight: bold;
      }
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
