// global 색 변수 모음

$green-primary: #4caaa1 !global;
$green-secondary: #4be0a2 !global;

$text-primary: #474747 !global;
$text-highlight: #000 !global;
$text-disable: #d3d3d3 !global;
$background-primary: #fafafa !global;
$background-input: #f6f6f6 !global;
$background-highlight: #fff !global;
$orange: #ff8f3b !global;
$red: #f33620 !global;

$input-focus: #a4f6e6 !global;

// font-size 변수
$fs-title: 2rem;
$fs-recipeStep: 1.3rem;
$fs-listItem: 1.2rem;

// margin 변수

// 효과에 대한 문법

/*
% 문법: id, class 선택자처럼 %로 선택자를 사용할 수 있음. 이 scss 파일 import 후 이거를 사용하고 싶은 클래스에서 @extend %선택자명  해주면 사용가능
예시: LoginForm.module.scss 파일의 로그인 비밀번호 input
*/

%input-normal {
  width: 300px;
  height: 23px;
  box-sizing: border-box;
  border: none;
  outline: solid 2px #474747;
  background-color: #d3d3d3;
  border-radius: 15px;
  padding: 8px;
}
%input-search {
  @extend %input-normal;
  height: 30px;
  text-align: center;
  outline: solid 2px $green-secondary;
  background-color: #fff;
  &::placeholder {
    color: $green-primary;
  }
}

%input-focused {
  @extend %input-search;
  outline: solid 2px $green-secondary;
  background-color: rgba(153, 237, 195, 0.843);
}
