@import '../../global.scss';
.container {
  border: solid 2px;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 10px;
}
.main {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.button {
  cursor: pointer;
  color: $green-secondary;
}
