.wrapper {
  display: flex;
  // background-color: red;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;

  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
