.wrapper {
  overflow-y: auto;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 15px 10px;
  background-color: #fafafa;
  color: black;
  border: 1px solid black;
  font-size: 18px;
  border-radius: 5px;
}