@import '../../../global.scss';

.wrapper {
  background-color: $background-highlight;
  width: 95%;
  margin: 0px auto;
}
.header {
  font-size: 1.2rem;
  font-weight: bold;
}
.main {
  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
