.wrapper {
  height: 50%;
  background-color: #fff;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {
  height: 100%;
}
.footer {
  padding: 1rem 0;
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
