@import '../../../global';
.wrapper {
  padding: 8px;
}
.header {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: $green-primary;
  font-size: 1.3rem;
  font-weight: bold;
  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  input {
    padding: 4px 6px;
    border: 2px solid $green-primary;
    border-radius: 5px;
    &:focus {
      outline: none;
      background-color: $green-secondary;
      color: #fff;
    }
  }
}

.main {
  margin-top: 0.7rem;
  background-color: #fff;
  padding: 1rem;
}

.searchResult {
  height: 35vh;
  // max-height: 40vh;
  overflow-y: scroll;
}
.isEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green-secondary;
  font-size: 1.3rem;
  font-weight: bold;
}
