@import '../../global.scss';

.wrapper {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  gap: 2rem;
}

.inputContainer {
  width: 100%;
}
.title {
  font-weight: bold;
  color: $green-primary;
  margin-bottom: 1rem;
}
.signupInput {
  width: 300px;
  display: block;
  margin: 0.5rem auto;

  padding: 10px 8px;
  background-color: $background-input;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: solid 2px $green-secondary;
    background-color: #a4f6e6;
  }
}
.btnContainer {
  width: 80%;
  position: absolute;
  bottom: 0px;
  display: flex;

  justify-content: space-between;
}
.nextBtn,
.prevBtn {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.prevBtn {
  color: #5f5f5f;
  background-color: #d3d3d3;
}
.nextBtn {
  color: #fff;
  background-color: $green-secondary;

  &:hover {
    background-color: $green-primary;
    transition: 0.3s;
  }
  &:disabled {
    background-color: #474747;
    cursor: no-drop;
  }
}

.form2 {
  // background-color: red;
  .target {
    margin-top: -1rem;
  }
  align-items: center;
  label {
    font-size: 0.9rem;

    color: $text-primary;
  }
  .btnContainer {
    align-self: center;
  }
}
.errorMsg {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-left: 10%;
  text-align: left;
  color: $orange;
}
.form2InputContainer {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  // background-color: red;
  input {
    outline: none;
  }
}
.genderOption {
  width: 100px;
  display: flex;
}
.genderContainer {
  > div:not(:first-child) {
    // background-color: #a4f6e6;
    display: flex;
  }
  input[type='radio'] {
    width: 30px;
    outline: none;
    position: relative;
    accent-color: $green-primary;
  }
}
.numberInputs {
  display: flex;
  width: 120%;
  justify-content: space-between;
  > div {
    width: 200px;
  }
  label {
    font-weight: bold;
    color: $green-primary;
  }

  input {
    width: 70px;
    margin-left: 10%;
    border: solid 2px $green-secondary;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
  }
}

.pwMsg {
  font-size: 0.8rem;
  color: $orange;
}

.nameContainer {
  align-self: flex-start;
  margin-left: 5%;
  > div:nth-of-type(1) {
    font-weight: bold;
    color: $green-primary;
  }
  input {
    margin-top: 1rem;
    width: 200px;
    height: 30px;

    border: solid 2px $green-secondary;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
  }
}
