@import '../../global.scss';
.wrapper {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  gap: 2rem;
}

.inputContainer {
  width: 100%;
}

.signupInput {
  width: 80%;
  padding: 10px 8px;
  background-color: $background-input;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: solid 2px $green-secondary;
    background-color: #a4f6e6;
  }
}

.btnContainer {
  width: 80%;
  position: absolute;
  bottom: 0px;
  display: flex;

  justify-content: space-between;
}
.nextBtn,
.prevBtn {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.prevBtn {
  color: #5f5f5f;
  background-color: #d3d3d3;
}
.nextBtn {
  color: #fff;
  background-color: $green-secondary;

  &:hover {
    background-color: $green-primary;
    transition: 0.3s;
  }
  &:disabled {
    background-color: #474747;
    cursor: no-drop;
  }
}

.form2 {
  align-items: flex-start;
  label {
    font-size: 0.9rem;

    color: $text-primary;
  }
  .btnContainer {
    align-self: center;
  }
}
.errorMsg {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-left: 10%;
  text-align: left;
  color: $orange;
}
