@import '../../global.scss';
.backdrop {
  background-color: $container-background;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.wrapper {
  background-color: #fff;
  width: 50vw;
  height: 50vh;

  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}
